.project__content {
   display: flex;
   flex-direction: column;
   gap: 1.4rem;
   width: 100%;
}

.project__content .project__content__note {
   display: flex;
   gap: 1.5rem;
   flex-wrap: wrap;
   position: relative;
   justify-content: center;
}

.project__button__showAll {
   float: right;
   justify-self: end;
}
